 body {
     color: #2b283a;
     font-family: "Roboto", sans-serif;
 }

 /* Texts */
 h1 {
     font-size: 2.25rem;
 }

 h2 {
     margin-top: 0px;
 }

 h3 {
     color: #d0aaff;
     font-size: 1.25rem;
 }

 p {
     line-height: 23px;
 }

 /* Links */
 a {
     color: #ef5839;
     text-decoration: underline dotted;
 }

 a:hover,
 a:active {
     color: #d4b44c;
 }

 .link-btn {
     padding: 10px 19px;
     border-radius: 4.6px;
     font-weight: 400;
     text-decoration: none;
 }

 #nft-link {
     background-color: #5f29a3;
     color: whitesmoke;
 }

 .link-btn:hover {
     background-color: #f3e885 !important;
     color: #2b283a !important;
 }

 #info-link,
 #contact-link {
     background-color: #d0aaff;
     color: #5f29a3;
 }

 #about-link {
     background-color: whitesmoke;
     color: #5f29a3;
 }

 /* Layouts */
 .container {
     width: 620px;
     margin: 0 auto;
 }

 .second-container {
     display: flex;
     justify-content: space-between;
 }

 /* Sections */
 header,
 .second-content {
     background-color: #5f29a3;
 }

 header,
 section,
 footer {
     padding: 45px 0px;
 }

 footer {
     text-align: center;
     color: #5f29a3;
 }


 /* Images */
 .img-sneaker {
     width: 100%;
 }

 .img-nft {
     width: 300px;
     border-radius: 4.6px;
 }

 /* Extra */
 body,
 h1,
 h3 {
     margin: 0;
 }

 h1,
 .second-content {
     color: whitesmoke;
 }

 body,
 footer {
     font-size: 1rem;
 }